[Unit]
Description=fuck the switch up
After=openvswitch-switch.target

[Service]
Type=oneshot
ExecStart=/home/cs4516/switchifconfig.sh

[Install]
WantedBy=default.target
